<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Êtes-vous certain(e) ?</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="confirmationPDiv">
      <p>Votre historique des recherches nous aide à vous proposer de meilleurs résultats lors d’une recherche.
         Gardez à l’esprit que vous seul(e) pouvez consulter vos recherches.</p>
    </div>
  </div>
  <div class="modal-footer">
    <button mat-button type="button" class="btn btn-secondary" (click)="modal.close('Cancel click')">Annuler</button>
    <button mat-button type="button" class="btn btn-primary" (click)="deleteAllSearches()">
      Effacer les recherches</button>
  </div>
</ng-template>
