<nav class="navbar navbar-primary navbar-expand-sm nbBg">
  <div class="container-fluid">
    <div class="navbar-header">
      <a routerLink="/" class="navbar-brand"><span><img class="img-responsive"
        style="max-height:42px;max-width:42px;" src="../../../assets/fb_logo.png"/></span></a>
    </div>
    <div class="" id="">
      <ul class="navbar-nav nav">
        <form [formGroup]="searchForm" class="form-inline" (ngSubmit)="searchFor('',-1)">
          <mat-form-field class="searchInput">
            <input type="text" matInput [formControlName]="'searchTerm'" [matAutocomplete]="auto"
              (focus)="loadSearches()" (blur)="unloadAutocomplete()" class="searchInput"/>
          </mat-form-field>
          <mat-autocomplete #auto="matAutocomplete">
            <div *ngIf="type==='searches'">
              <mat-option>
                <p class="searchInitialOption">VOS RECHERCHES <a class="float-right editSearchesLink"
                    routerLinkActive="active" (click)="editCurrentSearches()">
                      MODIFIER</a></p>
              </mat-option>
              <mat-option *ngFor="let search of (coreState$|async).searches;let i=index"
                [value]="search.searchTerm" (click)=searchFor(search.searchTerm,i)>
                {{ search.searchTerm }}
              </mat-option>
            </div>
            <div *ngIf="type==='suggestions'">
              <mat-option *ngFor="let suggestion of (coreState$|async).suggestions;let j=index"
                [value]="suggestion.word" (click)=searchFor(suggestion.word,j)>
                {{ suggestion.word }}
              </mat-option>
            </div>
          </mat-autocomplete>
          <button mat-button type="submit"><i class="material-icons">search</i></button>
        </form>
        <li class="nav-item"><div class="profileDiv mt-2"><a *ngIf="(profileState$|async)"
          [routerLink]="[(authState$|async).lastName+'.'+(authState$|async).firstName+'.'+(profileState$|async).fromCity]"
           class="nav-link">
          <span class="float-left profilePictSpan"><img *ngIf="(profileState$|async)" class="img-responsive"
            style="height:52px;width:52px;border-radius:50%;" [src]="(profileState$|async)?.profilePicture">
          </span>
          <p class="float-right mt-3 lastNameP">{{(authState$|async)?.lastName}}</p>
        </a></div></li>
        <li class="nav-item"><div class="welcomeDiv mt-2"><a routerLink="/" class="nav-link">
          <p class="mt-2 welcomeP">Accueil</p>
        </a></div></li>
        <li class="nav-item"><div class="createDiv mt-2 dropdown"><a routerLink="/"
          class="nav-link dropdown-toggle" data-toggle="dropdown">
          <p class="mt-2 createP">Créer</p>
        </a>
        <div class="dropdown-menu">
          <div class="dropdown-header"><p class="float-left">Créer</p></div>
          <a class="dropdown-item" [routerLink]="['pages','creation']" [queryParams]="{ref_type:'universal_creation_hub'}">
            <div class="d-inline float-left">
            <span style="font-size:1.3em;color:dark-gray;"><i class="fas fa-flag"></i></span>
            </div>
            <div class="d-inline ml-1">
              <div class="d-block pageHeaderDiv">Page</div>
              <div class="d-block"><p>Communiquez et partagez avec vos clients ou fans</p></div>
            </div>
          </a>
          <a class="dropdown-item" (click)="toAds()" style="cursor:pointer;">
            <div class="d-inline float-left">
            <span style="font-size:1.3em;color:dark-gray;"><i class="fas fa-flag"></i></span>
            </div>
            <div class="d-inline ml-1">
              <div class="d-block adHeaderDiv">Publicité</div>
              <div class="d-block"><p>Faîtes la promotion de votre entreprise, votre marque ou votre organisation</p>
              </div>
            </div>
          </a>

        </div>
      </div></li>
      </ul>
    </div>
    <div class="float-right">
      <ul class="navbar-nav nav mr-3">
        <li routerLinkActive="active" class="nav-item"><a
          class="nav-link">Purchased movies</a></li>
      </ul>
    </div>
  </div>
</nav>
