/*.searchInput{
  width:100%;
  min-width:100%;
}*/
p.searchInitialOption{
  font-size: 68%;
}
a.editSearchesLink:hover{
  text-decoration: underline;
}
.nbBg{
  background-color: rgb(60,90,154);
}
