<nav class="navbar navbar-primary navbar-expand-sm bg-primary">
  <div class="container-fluid">
    <div class="navbar-header">
      <a routerLink="/" class="navbar-brand"><span><img class="img-responsive"
        style="max-height:42px;max-width:42px;" src="../../../assets/fb_logo.png"/></span></a>
    </div>
    <div class="" id="">
      <ul class="navbar-nav nav">
        <form [formGroup]="searchForm" class="form-inline" (ngSubmit)="searchFor($event)">
          <mat-form-field>
            <input type="text" matInput [formControlName]="'searchTerm'" [matAutocomplete]="auto"
              (focus)="loadSearches()" (change)="loadSuggestions()" (blur)="unloadAutocomplete()"/>
          </mat-form-field>
          <mat-autocomplete #auto="matAutocomplete" *ngIf="type==='searches'">
            <mat-option *ngFor="let search of (coreState|async).searches" [value]="search">
              {{ search }}
            </mat-option>
          </mat-autocomplete>
          <mat-autocomplete #auto="matAutocomplete" *ngIf="type==='suggestions'">
            <mat-option *ngFor="let suggestion of (coreState|async).suggestions" [value]="suggestion">
              {{ suggestion }}
            </mat-option>
          </mat-autocomplete>
          <button mat-button><i class="material-icons">search</i></button>
        </form>
        <li routerLinkActive="active" class="nav-item"><a routerLink="/movies" class="nav-link">Movies</a></li>
      </ul>
    </div>
    <div class="float-right">
      <ul class="navbar-nav nav mr-3">
        <li routerLinkActive="active" class="nav-item"><a routerLink="/movies/purchased"
          class="nav-link">Purchased movies</a></li>
      </ul>
    </div>
  </div>
</nav>
