<nav class="navbar navbar-primary navbar-expand-sm nbBg">
  <div class="container-fluid">
    <div class="navbar-header">
      <a routerLink="/" class="navbar-brand"><span><img class="img-responsive"
        style="max-height:42px;max-width:42px;" src="../../../assets/fb_logo.png"/></span></a>
    </div>
    <div class="" id="">
      <ul class="navbar-nav nav">
        <form [formGroup]="searchForm" class="form-inline" (ngSubmit)="searchFor($event)">
          <mat-form-field class="searchInput">
            <input type="text" matInput [formControlName]="'searchTerm'" [matAutocomplete]="auto"
              (focus)="loadSearches()" (change)="loadSuggestions()" (blur)="unloadAutocomplete()"/>
          </mat-form-field>
          <mat-autocomplete #auto="matAutocomplete">
            <div *ngIf="type==='searches'">
              <mat-option>
                <p class="searchInitialOption">VOS RECHERCHES <a class="float-right editSearchesLink"
                    routerLinkActive="active" (click)="editCurrentSearches()">
                      MODIFIER</a></p>
              </mat-option>
              <mat-option *ngFor="let search of (coreState$|async).searches"
                [value]="search.searchTerm">
                {{ search.searchTerm }}
              </mat-option>
            </div>
            <div *ngIf="type==='suggestions'">
              <mat-option *ngFor="let suggestion of (coreState$|async).suggestions"
                [value]="suggestion.word">
                {{ suggestion.word }}
              </mat-option>
            </div>
          </mat-autocomplete>
          <button mat-button type="submit"><i class="material-icons">search</i></button>
        </form>
        <li routerLinkActive="active" class="nav-item"><a routerLink="/movies" class="nav-link">Movies</a></li>
      </ul>
    </div>
    <div class="float-right">
      <ul class="navbar-nav nav mr-3">
        <li routerLinkActive="active" class="nav-item"><a routerLink="/movies/purchased"
          class="nav-link">Purchased movies</a></li>
      </ul>
    </div>
  </div>
</nav>
