<h4>Filtres</h4>

<div class="mt-2 -no-gutters"><!--should have a stylish scroll-bar-->
  <ul class="list-unstyled">
    <li>
      <a [routerLink]="['.']" [queryParams]="{privacy_source:'activity_log',log_filter:'all'}">
        <div class="histoPersDiv">
          <span style="font-size:1.3em;color:gray;"><i class="fab fa-facebook"></i></span>
          <b *ngIf="privacy_source==='activity_log'&&log_filter==='all'">Historique personnel</b>
          <p *ngIf="log_filter!=='all'">Historique personnel</p>
        </div>
      </a>
    </li>
    <li>
      <a [routerLink]="['.']" [queryParams]="{privacy_source:'activity_log',log_filter:'review'}">
        <div class="ExamJourDiv">
          <span style="font-size:1.3em;color:gray;"><i class="material-icons">event_note</i></span>
          <b *ngIf="privacy_source==='activity_log'&&log_filter==='review'">Examen du journal</b>
          <p *ngIf="log_filter!=='review'">Examen du journal</p>
        </div>
      </a>
    </li>
    <li>
      <a [routerLink]="['.']" [queryParams]="{privacy_source:'activity_log',log_filter:'photoreview'}">
        <div class="ExamPhotosDiv">
          <span style="font-size:1.3em;color:gray;"><i class="material-icons">photo_library</i></span>
          <b *ngIf="privacy_source==='activity_log'&&log_filter==='photoreview'">Examen des photos</b>
          <p *ngIf="log_filter!=='photoreview'">Examen des photos</p>
        </div>
      </a>
    </li>
    <hr/>
    <li>
      <a [routerLink]="['.']" [queryParams]="{privacy_source:'activity_log',log_filter:'cluster_11'}">
        <div class="PublicatsDiv">
          <span style="font-size:1.3em;color:gray;"><i class="material-icons">person</i></span>
          <b *ngIf="privacy_source==='activity_log'&&log_filter==='cluster_11'">Publications</b>
          <p *ngIf="log_filter!=='cluster_11'">Publications</p>
        </div>
      </a>
    </li>
    <li>
      <a [routerLink]="['.']" [queryParams]="{privacy_source:'activity_log',log_filter:'cluster_200'}">
        <div class="OuVousDiv">
          <span style="font-size:1.3em;color:gray;"><i class="material-icons">local_offer</i></span>
          <b *ngIf="privacy_source==='activity_log'&&log_filter==='cluster_200'">Où vous apparaissez</b>
          <p *ngIf="log_filter!=='cluster_200'">Où vous apparaissez</p>
        </div>
      </a>
    </li>
    <li>
      <a [routerLink]="['.']" [queryParams]="{privacy_source:'activity_log',log_filter:'cluster_5'}">
        <div class="PubsAutrPersDiv">
          <span style="font-size:1.3em;color:gray;"><i class="material-icons">textsms</i></span>
          <b *ngIf="privacy_source==='activity_log'&&log_filter==='cluster_5'">
            Publications d'autres personnes sur votre journal</b>
          <p *ngIf="log_filter!=='cluster_5'">Publications d'autres personnes sur votre journal</p>
        </div>
      </a>
    </li>
    <li>
      <a [routerLink]="['.']" [queryParams]="{privacy_source:'activity_log',log_filter:'hidden'}">
        <div class="InvisDansJournDiv">
          <span style="font-size:1.3em;color:gray;"><i class="material-icons">not_interested</i></span>
          <b *ngIf="privacy_source==='activity_log'&&log_filter==='hidden'">Invisibles dans le journal</b>
          <p *ngIf="log_filter!=='hidden'">Invisibles dans le journal</p>
        </div>
      </a>
    </li>
    <hr />
    <li>
      <a [routerLink]="['.']" [queryParams]="{privacy_source:'activity_log',log_filter:'photos'}">
        <div class="PhotoVidsDiv">
          <span style="font-size:1.3em;color:gray;"><i class="material-icons">collections</i></span>
          <b *ngIf="privacy_source==='activity_log'&&log_filter==='photos'">Photos et vidéos</b>
          <p *ngIf="log_filter!=='photos'">Photos et vidéos</p>
        </div>
      </a>
      <ul class="list-unstyled" *ngIf="log_filter==='photos'||log_filter==='taggedphotos'||log_filter==='ownphotos'">
        <li>
          <a [routerLink]="['.']" [queryParams]="{privacy_source:'activity_log',log_filter:'taggedphotos'}">
            <div class="PhotosDansLequsDiv">
              <b *ngIf="privacy_source==='activity_log'&&log_filter==='taggedphotos'">
                Photos dans lesquelles vous êtes identifié</b>
              <p *ngIf="log_filter!=='taggedphotos'">Photos dans lesquelles vous êtes indentifié</p>
            </div>
          </a>
        </li>
        <li>
          <a [routerLink]="['.']" [queryParams]="{privacy_source:'activity_log',log_filter:'ownphotos'}">
            <div class="PhotosSeulmDiv">
              <b *ngIf="privacy_source==='activity_log'&&log_filter==='ownphotos'">
                Photos seulement</b>
              <p *ngIf="log_filter!=='ownphotos'">Photos seulement</p>
            </div>
          </a>
        </li>
      </ul>
    </li>
    <li>
      <a [routerLink]="['.']" [queryParams]="{privacy_source:'activity_log',log_filter:'likes'}">
        <div class="MentsJaimeDiv">
          <span style="font-size:1.3em;color:gray;"><i class="material-icons">thumb_up_alt</i></span>
          <b *ngIf="privacy_source==='activity_log'&&log_filter==='likes'">Mentions j'aime et réactions</b>
          <p *ngIf="log_filter!=='likes'">Mentions j'aime et réactions</p>
        </div>
      </a>
      <ul class="list-unstyled" *ngIf="log_filter==='likes'||log_filter==='likedposts'||log_filter==='likedinterests'">
        <li>
          <a [routerLink]="['.']" [queryParams]="{privacy_source:'activity_log',log_filter:'likedposts'}">
            <div class="PublEtCommentsDiv">
              <b *ngIf="privacy_source==='activity_log'&&log_filter==='likedposts'">
                Publications et commentaires</b>
              <p *ngIf="log_filter!=='likedposts'">Publications et commentaires</p>
            </div>
          </a>
        </li>
        <li>
          <a [routerLink]="['.']" [queryParams]="{privacy_source:'activity_log',log_filter:'likedinterests'}">
            <div class="PagesEtInterDiv">
              <b *ngIf="privacy_source==='activity_log'&&log_filter==='likedinterests'">
                Pages et intérêts</b>
              <p *ngIf="log_filter!=='likedinterests'">Pages et intérêts</p>
            </div>
          </a>
        </li>
      </ul>
    </li>
    <li>
      <a [routerLink]="['.']" [queryParams]="{privacy_source:'activity_log',log_filter:'cluster_116'}">
        <div class="CommentairesDiv">
          <span style="font-size:1.3em;color:gray;"><i class="material-icons">chat_bubble</i></span>
          <b *ngIf="privacy_source==='activity_log'&&log_filter==='cluster_116'">
            Commentaires</b>
          <p *ngIf="log_filter!=='cluster_116'">Commentaires</p>
        </div>
      </a>
    </li>
    <hr />
    <li>
      <a [routerLink]="['.']" [queryParams]="{privacy_source:'activity_log',log_filter:'apps'}">
        <div class="AppsDiv">
          <span style="font-size:1.3em;color:gray;"><i class="material-icons">apps</i></span>
          <b *ngIf="privacy_source==='activity_log'&&log_filter==='apps'">
            Apps</b>
          <p *ngIf="log_filter!=='apps'">Apps</p>
        </div>
      </a>
    </li>
    <hr/>
  </ul>
</div>
