<div class="row no-gutters">
  <div col-xs-12 col-sm-12 col-md-12>
    <div class="row no-gutters">
      <span class="ml-1 mt-4 mr-1">
        <img class="img-responsive" src="../../../assets/search_loop.jpg" alt="search loop image"
          style="max-height:18px;max-width:18px;"/></span>
      <h6 class="mt-4 mr-1">Historique personnel</h6>
      <div class="mr-1">
        <span *ngIf="effacer" style="border-right:solid 1px gray;cursor:pointer;" (click)="displayDeleteModal()">
          <p class="deleteSearchesP">Effacer les recherches</p></span>
          <mat-form-field class="historySearchInput" *ngIf="!effacer">
            <input type="text" matInput (keyUp.enter)="searchTerm()"
              (blur)="hideSearchBar()" #historySearch/>
          </mat-form-field>
        <button mat-button type="button" (click)="displaySearchBar()">
          <span style="font-size:0.9em;color:black;"><i class="material-icons">search</i></span></button>
      </div>
    </div>
  </div>
</div>
